<form [formGroup]="formLogin"class="containers">
     <div class="loginPng">
       <img src="./assets/woman.png" alt="icono de usuario femenino" >
     </div>


     <mat-form-field class="input" appearance="legacy">
      <mat-label for="exampleInputEmail1" class="form-label email">Email</mat-label>
                        
      <input matInput 
      type="email"  
      autocomplete="off"
      class="form-control"
       id="exampleInputEmail1" 
       aria-describedby="emailHelp"
       formControlName="emailUsuario"
       [(ngModel)]="emailUsuario"        
      placeholder="Ingrese su email"      
      > 
      <mat-hint>Mail: cecilia.amura88@gmail.com</mat-hint>
    </mat-form-field>

    <mat-form-field class="input" appearance="legacy">
      <mat-label for="exampleInputEmail1" class="form-label email">Contraseña</mat-label>
      <input matInput 
      type="password" 
      autocomplete="off" 
      class="form-control" 
      id="exampleInputPassword1" 
      [(ngModel)]="contrasenia" 
      formControlName="contrasenia"   
             
      placeholder="Ingrese su contrasenia"
      
      >    
      <mat-hint>Contraseña: 123456</mat-hint>                    
    </mat-form-field>

   <!--  <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label email">Email </label>
      <input type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="emailUsuario" [ngModelOptions]="{standalone:true}">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="contrasenia" [ngModelOptions]="{standalone:true}" >
      {{loginError}}
    </div> -->
    {{loginError}}
    <button type="submit" class="btn" data-bs-dismiss="modal" [disabled]="formLogin.invalid"(click)="login()">Login</button>
  </form>
