<form [formGroup]="form"><!-- ((ngSubmit)="funcion") -->
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
          <i  class="fa-solid fa-user"></i>
        </span>
        <input formControlName="nombre" type="text" class="form-control"  placeholder="Nombre" aria-label="nombre" aria-describedby="addon-wrapping">
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
        <i class="fa-solid fa-user"></i>
        </span>
        <input formControlName="apellido" type="text" class="form-control"placeholder="Apellido" aria-label="apellido" aria-describedby="addon-wrapping">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
</form>
